header#main-header {
    height: 50px;
    width:100%;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    background: #da552f;
    display: flex;
    justify-content: center;
    align-items: center;
}